<!--ver que hacemos con esto-->
			
			         <div class="container-fluid" style="{sDisplayBar}">
                <div class="page-content" style="{sDisplayBar}">
                    <!-- BEGIN BREADCRUMBS -->
                    <div class="breadcrumbs" style="{sDisplayBar}">
                        <h1>Accesos Rápidos </h1>
                        <ol class="breadcrumb">
                            <li>
                                <a href="cpanel_admin_products.php">Home</a>
                            </li>
                            <li>
                                <a class="active" href="usersByServices.php">Carpetas</a>
                            </li>
                            
                        </ol>
                        <!-- Sidebar Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".page-sidebar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
                        </button>
                        <!-- Sidebar Toggle Button -->
                    </div>
                    <!-- END BREADCRUMBS -->
                    <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
                    <div class="page-content-container" style="{sDisplayBar}">
                        <div class="page-content-row" style="{sDisplayBar}">
                            <!-- BEGIN PAGE SIDEBAR -->
                            <div class="page-sidebar" style="{sDisplayBar}">
                                <nav class="navbar" role="navigation">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <ul class="nav navbar-nav margin-bottom-35">
                                        <li>
                                            <a href="cpanel_admin.php">
                                                <i class="fa fa-desktop"></i> Escritorio </a>
                                        </li>
                                       
                    								<li class="active">      
                      								<a href="usersABM.php"> 
                      								<i class="icon-users"></i> Clientes    
                      								<!--<label class="label label-danger">New</label>--> 
                      								</a>
                    								</li> 
									 
                                       
                                    </ul>
                                    
                                      <h3>Otras Opciones</h3>
                                      <ul class="nav navbar-nav">
                                        <li>
                                          <a href="agreementABM.php"> 
                                          <i class="fa  fa-flag-o"></i> Ciudadanias 
                                          <!--<label class="label label-danger">New</label>--> 
                                          </a>                                               
                                        </li>
                                      </ul>
                                     
                                </nav>
                            </div>
                            <!-- END PAGE SIDEBAR -->
							
							
							
                            <div class="page-content-col">
                                <!-- BEGIN PAGE BASE CONTENT -->
                                <!--<div class="m-heading-1 border-green m-bordered">
                                    <h3>Novedades</h3>
                                    <p> Mediante este módulo puede dar de Alta, modificar y hasta eliminar una Novedad por persona.</p>
                                    
									
                                </div>-->
								<div class="alert alert-danger" style="{sDisplayError}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Error!</strong> Algo salio mal, intente de nuevo.
						</div>
						<div class="alert alert-success" style="{sDisplayOK}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Felicitaciones!</strong> {sResult}.
						</div>
						
					
					 <div class="portlet light bordered">
                                                       
              <div class="portlet-title">
                <div class="caption">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject font-dark sbold uppercase">Administración Carpetas.</span>
                </div>
                <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                <a class="btn sbold green" data-target="#full-width" data-toggle="modal"><i class="fa fa-plus"></i> Nuevo </a>




                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Más
                <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                <!--<li>
                <a href="javascript:;">
                <i class="fa fa-print"></i> Imprimir </a>
                </li>-->
                <li>
                <a href="javascript:;" onclick="return showDataExport(4,4);">
                <i class="fa fa-file-pdf-o"></i> Exportar PDF </a>
                </li>

                </ul>

                </div>
                </div>
              </div>


							 <!-- BEGIN FORM-->
            <form action="usersByServices.php" id="formSearch" method="POST" class="form-horizontal">
            <input type="hidden" name="sAction" value="newSearch"/>
            <div class="form-body">

            <div class="row">
            <!--/span-->



            <div class="col-md-3">
            <div class="form-group">
            <label class="control-label col-md-3">Apellido</label>
            <div class="col-md-9">
            <input type="text" name="searchLast" value="{searchLast}" id="searchLast" class="form-control" > </div>
            </div>
            </div>

            <div class="col-md-3">
            <div class="form-group">
            <label class="control-label col-md-3">Nombre</label>
            <div class="col-md-9">
            <input type="text" name="searchName" value="{searchName}" id="searchName" class="form-control" > </div>
            </div>
            </div>

            <div class="col-md-3">
            <div class="form-group">
            <label class="control-label col-md-3">DNI</label>
            <div class="col-md-9">
            <input type="text" name="searchDNI" value="{searchDNI}" id="searchDNI" class="form-control" > </div>
            </div>
            </div>

            <div class="col-md-3">
            <div class="form-group">
            <label class="control-label col-md-3">Carpeta</label>
            <div class="col-md-9">
            <input type="text" name="searchApellido" value="{searchApellido}" id="searchApellido" class="form-control" > </div>
            </div>
            </div>


            <div class="col-md-3">
            <div class="form-group">
            <label class="control-label col-md-3">CUIT/L</label>
            <div class="col-md-9">
            <input type="text" name="searchCuil" value="{searchCuil}" id="searchCuil" class="form-control" > </div>
            </div>
            </div>


            <div class="col-md-3">
            <div class="form-group">
            <label class="control-label col-md-3">Email</label>
            <div class="col-md-9">
            <input type="text" name="searchEmail" value="{searchEmail}" id="searchEmail" class="form-control" > </div>
            </div>
            </div>


            <div class="col-md-3">
            <div class="form-group">
            <label class="control-label col-md-3">Cliente</label>
            <div class="col-md-9">
            <input type="text" name="searchAbonado" value="{searchAbonado}" id="searchAbonado" class="form-control" > </div>
            </div>
            </div>																		 


            <!--<div class="col-md-3">
            <div class="form-group">
            <label class="control-label col-md-3">Serial</label>
            <div class="col-md-9">
            <input type="text" name="searchSerial" value="{searchSerial}" id="searchSerial" class="form-control" > </div>
            </div>
            </div>

            /span-->
            </div>

            </div>
            <div class="form-actions">
            <div class="row">
            <div class="col-md-6">
            <div class="row">
            <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn green">Buscar</button>

            <button type="reset" class="btn default">Reset</button>

            </div>
            </div>
            </div>
            <div class="col-md-6"> </div>
            </div>
            </div>
            </form>
        <!-- END FORM-->
          </div>
						
						
						
						
						
						
						
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
          <div class="portlet-title">
             
<!--<div class="col-md-6">
                          <div class="btn-group">
<a class="btn sbold green" data-target="#full-width" data-toggle="modal"><i class="fa fa-plus"></i> Nuevo </a>
                             
                          </div>
                      </div>-->
            <div class="tools"> </div>
          </div>

          <div class="portlet-body">
           <table class="table table-striped table-bordered table-hover" id="sample_1">
              <thead>
                <tr>
                <!--  <th>N° Servicio</th>-->
                <th>DNI</th>
                <th>Apellido Carpeta</th>
                <th>Ciudadania</th>
                <th>Apellido</th>
                <th>Nombre</th>

                <th>Telefono</th>

                <th>Cantidad</th>
                <th>Estado</th>
                <th>Email</th>

                <th>Fecha Alta</th>

                <th>Acciones</th>
              </tr>
              </thead>
              <tfoot>
                <tr>
                <!-- <th>N° Servicio</th>-->

                <th>DNI</th>
                <th>Apellido Carpeta</th>
                <th>Ciudadania</th>
                <th>Apellido</th>
                <th>Nombre</th>

                <th>Telefono</th>

                <th>Cantidad</th>
                <th>Estado</th>
                <th>Email</th>

                <th>Fecha Alta</th>


                <th>Acciones</th>
                </tr>
              </tfoot>
              <tbody>
                <!--BeginPERSONALBYSCHOOL-->
                <tr>
                <!--<td>{iId}</td>-->
                <td>{sDNIA}</td>
                <th><strong>{sApellidoCarpeta}</strong></th>
                <th><strong>{sCiu}</strong></th>
                <td><strong>{sApellidoA}</strong></td>
                <td>{sNombreA}</td>


                <td>{sTelA}</td>

                <th>{sCant}/{sCbu}</th>
                <td>{sEstado}</td>
                <td>{sEmailA}</td>

                <td>{sFecha}</td>                                                                                                      
                <td>	
                  <div class="span-4 col-2 acciones">
                																	
                    <a  data-target="#full-widthEdit" data-toggle="modal" onclick="showServiceByUsers('{iId}');"><i class="material-icons">mode_edit</i></a>
                    <a  data-target="#full-widthEditFiles" data-toggle="modal" onclick="showServiceByUsersFiles('{iId}');"><i class="material-icons">inventory</i></a>
                    <a href="javascript:;" onclick="eliminar('{iId}','deleteServiceByUser');"><i class="material-icons">delete</i></a>
                    <a href="javascript:;" onclick="return showDataExport('{iId}',2);" tabindex="0"><i class="material-icons">file_download</i></a> 
                  </div>																
              	</td>
                  </tr>
                     <!--EndPERSONALBYSCHOOL-->
              </tbody>
          </table>

<!-- full width Nuevo Nivel-->
          <div id="full-widthEditFiles" class="modal container fade" tabindex="-1"  >
            <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
             <h4 class="modal-title">Carga Archivos</h4>
            </div>
          <div class="modal-body">
           <table class="table table-hover table-striped table-bordered">
            <tbody>
               <tr>
                <td>
          		    <div class="form-group">
                    <div class="col-sm-6"><label>Cliente</label>
                  	 <input type="text" name="newUserBusquedaC" id="newUserBusquedaC" class="form-control" >
                    </div>
          	        <table id="usersFoundedC" align="left" style="float:left;display:none;border:solid 1px">
          		      </table>
          	      </div>
                </td>
               </tr>
                <tr>
                <td>
                <div class="form-group">
                <div class="col-sm-2"><label>Ciudadania</label>
                <select class="form-control" id="editConvenioC" name="editConvenioC" required >
                <option value=''>Seleccione un convenio</option>
                <!--BeginCONVENIOS-->
                <option value='{iIdConvenio}'>{sConvenioA}</option>
                <!--EndCONVENIOS-->
                </select>
                </div>
                <div class="col-sm-2"><label>Estado</label>

                <select class="form-control" id="editEstadoC" name="editEstadoC" required >
                <!--BeginESTADOSERVICIOS-->
                <option value='{iIdStatusServices}'>{sStatusServices}</option>
                <!--EndESTADOSERVICIOS-->
                </select>

                </div>

                <div class="col-md-3">
                <label>Apellido Carpeta</label>
                <input class="form-control"  id="editDomicilioC" name="editDomicilioC" placeholder="Apellido Carpeta" type="text" >
                </div>
                </td>
                </tr>
                <tr>
                <td>

                <form role="form"  class="dropzone dropzone-file-area dz-clickable" id="my-dropzone" enctype="multipart/form-data" action="upload.php" method="POST" >
                <input type="hidden" name="sAction" value="extraetxt"/>
                <input id="iUserIDC" type="hidden" name="iUserIDC" value=""/>
                <input id="iEditIDC" type="hidden" name="iEditIDC" value=""/>

                <div >
                <h3 class="sbold">Drop Archivos o Click para subir</h3>
                <p> Esto subira los archivos a la carpeta del cliente. </p>
                <div class="dz-default dz-message"><span></span></div>
                </div>
                </form>
                </td>
                </tr>
              </tbody>

            </table>
          </div>
          <div id="flotante" style="display:none;" class="modal-footer">
            <div  class="spinner"></div>
          </div>
          <div class="modal-footer">
            <a onclick="showDataExportGestion(23,23)" class="btn green" target="_blank">Ver Archivos</a>
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Cerrar</button>
          </div>
        </div>
<!-- full width Nuevo Nivel-->
<div id="full-width" class="modal container fade" tabindex="-1"  >

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Nueva Carpeta</h4>
  </div>
  <div class="modal-body">
    <form role="form" class="form-horizontal" id="newServiceByUser" enctype="multipart/form-data" action="javascript:newOneItem('newServiceByUser');" method="POST" >
      <input type="hidden" name="sAction" value="newServiceByUser"/>
      <input id="iUserID" type="hidden" name="iUserID" value=""/>
      <table class="table table-hover table-striped table-bordered">
        <tbody>
          <!--<tr><td>
           <div class="col-md-2"><label>Legajo</label><input class="form-control"  id="newLegajo" name="newLegajo" placeholder="Número Legajo" type="text" required>
          </div>	 
          </td></tr>-->
          						
          <tr>
            <td>
          	<div class="form-group">
              <div class="col-sm-6"><label>Cliente</label>
               <input type="text" name="newUserBusqueda" id="newUserBusqueda" class="form-control" >
              </div>
              <table id="usersFounded" align="left" style="float:left;display:none;border:solid 1px"></table>
            </div>
            </td>
          </tr>
          <tr>
            <td>
            <div class="form-group">
                <div class="col-sm-2"><label>Ciudadania</label>
                  <select class="form-control" id="newConvenio" name="newConvenio" required >
                    <option value=''>Seleccione un convenio</option>
                    <!--BeginCONVENIOS-->
                   <option value='{iIdConvenio}'>{sConvenioA}</option>
                   <!--EndCONVENIOS-->
                  </select>
                </div>
            	
            	 <div class="col-sm-2"><label>Estado</label>

                    <select class="form-control" id="newEstado" name="newEstado" required >
                    <!--BeginESTADOSERVICIOS-->
                 <option value='{iIdStatusServices}'>{sStatusServices}</option>
                 <!--EndESTADOSERVICIOS-->
                 </select>
                                               
              </div>
            	


            	<div class="col-md-3">
            	<label>Email</label>
            	<input class="form-control"  id="newEmail" name="newEmail" placeholder="Email" type="text" >
            	
            	</div>
            	
            	
            	<div class="col-md-3">
            	<label>Apellido Carpeta</label>
            	<input class="form-control"  id="newDomicilio" name="newDomicilio" placeholder="Apellido Carpeta" type="text" >
            	
            	</div>
            		
            </div>	 
          </td>
          </tr>

          <tr>
            <td>
              <div class="form-group">    
              	<div class="col-md-3"><label>CNE</label>
                	<input class="form-control"  id="newCertificado" name="newCertificado" placeholder="Certificado" type="text" >
              	</div>
              
              </div>  
            </td>
          </tr>
          <tr>
            <td>
              <a onclick="agregar_NewCargos();" id="sample_editable_1_new"  data-rel="tooltip" class="btn green">Agregar Acta<i class="fa fa-plus"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover table-striped table-bordered" id="newObservaciones" >
        <tbody>
        <tr>
        <td> <div class="form-group">
        <label class="col-sm-12" for="TextArea">Observaciones</label>
        <div class="col-sm-6"><textarea class="form-control" id="newMemo" name="newMemo"></textarea></div>
        </div>
        </td>
        </tr>
        </tbody>
      </table>

      	<!--desde -->

      <table  id="newCargos" >
        <input type="hidden" name="cantNewCargo"  id="cantNewCargo"/>                      

        <tr id="descripcion" style="display:none">
          <td>
            <div class="form-group" id="todo-">

              <div class="col-sm-2" id="tipo-"><label>Tipo</label>
              <select class="form-control" id="newServicio-" name="newServicio-" onchange="mostrarDiv(this.options[this.selectedIndex].value,this);" >
                <option value=''>Seleccione un tipo</option>
                <option value='1'>Acta Nacimiento</option>
                <option value='2'>Acta Matrimonio</option>
                <option value='3'>Acta Defunción</option>
              </select>
              </div>

              <div id="actaNacimiento-" style="display:none">

                <div class="col-sm-2"><label>Nombre</label><input class="form-control"  id="newNombreActa-" name="newNombreActa-" placeholder="Nombre" type="text"></div>

                <div class="col-sm-2"><label>Apellido</label><input class="form-control" id="newApellidoActa-"  name="newApellidoActa-" placeholder="Apellido" type="text"></div>

                <div class="col-sm-2"><label>Lugar Nacimiento</label><input class="form-control"  id="newLugarNacimientoActa-" name="newLugarNacimientoActa-" placeholder="Lugar Nacimiento" type="text"></div>

                <div class="col-sm-2"><label>Provincia</label><input class="form-control"  id="newProvinciaActa-" name="newProvinciaActa-" placeholder="Provincia" type="text"></div>


                <div class="col-sm-2"><label>Pais</label><input class="form-control"  id="newPaisActa-" name="newPaisActa-" placeholder="Pais" type="text"></div>

                <div class="col-sm-2"><label>Fecha Nacimiento</label><input class="form-control" id="newFechaActa-"  name="newFechaActa-" placeholder="Fecha" type="date"></div>


                <div class="col-sm-2"><label>Nacionalidad</label><input class="form-control"  id="newNacionalidadActa-" name="newNacionalidadActa-" placeholder="Nacionalidad" type="text"></div>


                <div class="col-sm-2"><label>DNI</label><input class="form-control" id="newDniActa-"  name="newDniActa-" placeholder="DNI" type="text"></div>


                <div class="col-sm-2"><label>Apellido Padre</label><input class="form-control"  id="newApePadreActa-" name="newApePadreActa-" placeholder="Apellido Padre" type="text"></div>
                <div class="col-sm-2"><label>Nombre Padre</label><input class="form-control"  id="newNomPadreActa-" name="newNomPadreActa-" placeholder="Nombre Padre" type="text"></div>

                <div class="col-sm-2"><label>Apellido Madre</label><input class="form-control" id="newApeMadreActa-"  name="newApeMadreActa-" placeholder="Apellido Madre" type="text"></div>
                <div class="col-sm-2"><label>Nombre Madre</label><input class="form-control" id="newNomMadreActa-"  name="newNomMadreActa-" placeholder="Nombre Madre" type="text"></div>



                <div class="col-sm-2"><label>Apellido Abuelo</label><input class="form-control"  id="newApeAbueloActa-" name="newApeAbueloActa-" placeholder="Apellido Abuelo" type="text"></div>
                <div class="col-sm-2"><label>Nombre Abuelo</label><input class="form-control"  id="newNomAbueloActa-" name="newNomAbueloActa-" placeholder="Nombre Abuelo" type="text"></div>

                <div class="col-sm-2"><label>Apellido Abuela</label><input class="form-control" id="newApeAbuelaActa-"  name="newApeAbuelaActa-" placeholder="Apellido Abuela" type="text"></div>
                <div class="col-sm-2"><label>Nombre Abuela</label><input class="form-control" id="newNomAbuelaActa-"  name="newNomAbuelaActa-" placeholder="Nombre Abuela" type="text"></div>
              </div>

              <div id="actaMatrimonio-" style="display:none">

                <div class="col-sm-2"><label>Lugar Matrimonio</label><input class="form-control"  id="newLugarMatri-" name="newLugarMatri-" placeholder="Lugar" type="text"></div>

                <div class="col-sm-2"><label>Fecha Matrimonio</label><input class="form-control" id="newFechaMatri-"  name="newFechaMatri-" placeholder="Fecha" type="date"></div>


                <div class="col-sm-2"><label>Pais</label><input class="form-control"  id="newPaisMatri-" name="newPaisMatri-" placeholder="Pais" type="text"></div>


                <div class="col-sm-2"><label>Apellido</label><input class="form-control" id="newApellidoMatri-"  name="newApellidoMatri-" placeholder="Apellido" type="text"></div>


                <div class="col-sm-2"><label>Nombre</label><input class="form-control" id="newNombreMatri-"  name="newNombreMatri-" placeholder="Nombre" type="text"></div>

                <div class="col-sm-2"><label>Lugar Nacimiento</label><input class="form-control"  id="newLugarNacimientoMatri-" name="newLugarNacimientoMatri-" placeholder="Lugar Nacimiento" type="text"></div>

                <div class="col-sm-2"><label>Fecha Nacimiento</label><input class="form-control" id="newFechaNaciMatri-"  name="newFechaNaciMatri-" placeholder="Fecha" type="date"></div>

                <div class="col-sm-2"><label>Edad</label><input class="form-control"  id="newEdadMatri-" name="newEdadMatri-" placeholder="Edad" type="text"></div>

                <div class="col-sm-2"><label>DNI</label><input class="form-control" id="newDniMatri-"  name="newDniMatri-" placeholder="DNI" type="text"></div>


                <div class="col-sm-2"><label>Nacionalidad</label><input class="form-control"  id="newNacionalidadMatri-" name="newNacionalidadMatri-" placeholder="Nacionalidad" type="text"></div>


                <div class="col-sm-2"><label>Apellido Padre</label><input class="form-control"  id="newApePadreEsposoMatri-" name="newApePadreEsposoMatri-" placeholder="Apellido Padre" type="text"></div>
                <div class="col-sm-2"><label>Nombre Padre</label><input class="form-control"  id="newNomPadreEsposoMatri-" name="newNomPadreEsposoMatri-" placeholder="Nombre Padre" type="text"></div>

                <div class="col-sm-2"><label>Apellido Madre</label><input class="form-control" id="newApeMadreEsposoMatri-"  name="newApeMadreEsposoMatri-" placeholder="Apellido Madre" type="text"></div>
                <div class="col-sm-2"><label>Nombre Madre</label><input class="form-control" id="newNomMadreEsposoMatri-"  name="newNomMadreEsposoMatri-" placeholder="Nombre Madre" type="text"></div>


                <div class="col-sm-2"><label>Apellido</label><input class="form-control" id="newApellidoEsMatri-"  name="newApellidoEsMatri-" placeholder="Apellido" type="text"></div>
                <div class="col-sm-2"><label>Nombre</label><input class="form-control" id="newNombreEsMatri-"  name="newNombreEsMatri-" placeholder="Nombre" type="text"></div>

                <div class="col-sm-2"><label>Lugar Nacimiento</label><input class="form-control"  id="newLugarNacimientoEsMatri-" name="newLugarNacimientoEsMatri-" placeholder="Lugar Nacimiento" type="text"></div>

                <div class="col-sm-2"><label>Fecha Nacimiento</label><input class="form-control" id="newFechaNaciEsMatri-"  name="newFechaNaciEsMatri-" placeholder="Fecha" type="date"></div>

                <div class="col-sm-2"><label>Edad</label><input class="form-control"  id="newEdadEsMatri-" name="newEdadEsMatri-" placeholder="Edad" type="text"></div>

                <div class="col-sm-2"><label>DNI</label><input class="form-control" id="newDniEsMatri-"  name="newDniEsMatri-" placeholder="DNI" type="text"></div>


                <div class="col-sm-2"><label>Nacionalidad</label><input class="form-control"  id="newNacionalidadEsMatri-" name="newNacionalidadEsMatri-" placeholder="Nacionalidad" type="text"></div>


                <div class="col-sm-2"><label>Apellido Padre</label><input class="form-control"  id="newApePadreEsposoEsMatri-" name="newApePadreEsposoEsMatri-" placeholder="Apellido Padre" type="text"></div>
                <div class="col-sm-2"><label>Nombre Padre</label><input class="form-control"  id="newNomPadreEsposoEsMatri-" name="newNomPadreEsposoEsMatri-" placeholder="Nombre Padre" type="text"></div>

                <div class="col-sm-2"><label>Apellido Madre</label><input class="form-control" id="newApeMadreEsposoEsMatri-"  name="newApeMadreEsposoEsMatri-" placeholder="Apellido Madre" type="text"></div>
                <div class="col-sm-2"><label>Nombre Madre</label><input class="form-control" id="newNomMadreEsposoEsMatri-"  name="newNomMadreEsposoEsMatri-" placeholder="Nombre Madre" type="text"></div>

              </div>

              <div id="actaDefuncion-" style="display:none">

                <div class="col-sm-2"><label>Nombre</label><input class="form-control"  id="newNombreDefu-" name="newNombreDefu-" placeholder="Nombre" type="text"></div>

                <div class="col-sm-2"><label>Apellido</label><input class="form-control" id="newApellidoDefu-"  name="newApellidoDefu-" placeholder="Apellido" type="text"></div>

                <div class="col-sm-2"><label>Lugar</label><input class="form-control"  id="newLugarDefuDefu-" name="newLugarDefuDefu-" placeholder="Lugar" type="text"></div>

                <div class="col-sm-2"><label>Fecha</label><input class="form-control" id="newFechaDefu-"  name="newFechaDefu-" placeholder="Fecha" type="date"></div>

                <div class="col-sm-2"><label>Pais</label><input class="form-control"  id="newPaisDefu-" name="newPaisDefu-" placeholder="Pais" type="text"></div>

                <div class="col-sm-2" id="tipo-"><label>Estado Civil</label>
                <select class="form-control" id="newEstadoDefu-" name="newEstadoDefu-">
                <option value=''>Seleccione un tipo</option>
                <option value='1'>Soltero</option>
                <option value='2'>Casado</option>
                <option value='3'>Divorciado</option>
                <option value='4'>Viudo</option>
                <option value='5'>No Costa</option>
                </select>
                </div>

                <div class="col-sm-2"><label>Conjugue</label><input class="form-control"  id="newNombreApeDefu-" name="newNombreApeDefu-" placeholder="Nombre y Apellido" type="text"></div>


                <div class="col-sm-2"><label>Fecha Nacimiento</label><input class="form-control" id="newFechaNaciDefu-"  name="newFechaNaciDefu-" placeholder="Fecha" type="date"></div>


                <div class="col-sm-2"><label>Lugar Nacimiento</label><input class="form-control"  id="newLugarNacimientoDefu-" name="newLugarNacimientoDefu-" placeholder="Lugar Nacimiento" type="text"></div>

                <div class="col-sm-2"><label>DNI</label><input class="form-control" id="newDniDefu-"  name="newDniDefu-" placeholder="DNI" type="text"></div>


                <div class="col-sm-2"><label>Nacionalidad</label><input class="form-control"  id="newNacionalidadDefu-" name="newNacionalidadDefu-" placeholder="Nacionalidad" type="text"></div>

                <div class="col-sm-2"><label>Profesión</label><input class="form-control"  id="newProfeDefu-" name="newProfeDefu-" placeholder="Profesión" type="text"></div>



                <div class="col-sm-2"><label>Apellido Padre</label><input class="form-control"  id="newApePadreDefu-" name="newApePadreDefu-" placeholder="Apellido Padre" type="text"></div>
                <div class="col-sm-2"><label>Nombre Padre</label><input class="form-control"  id="newNomPadreDefu-" name="newNomPadreDefu-" placeholder="Nombre Padre" type="text"></div>

                <div class="col-sm-2"><label>Apellido Madre</label><input class="form-control" id="newApeMadreDefu-"  name="newApeMadreDefu-" placeholder="Apellido Madre" type="text"></div>
                <div class="col-sm-2"><label>Nombre Madre</label><input class="form-control" id="newNomMadreDefu-"  name="newNomMadreDefu-" placeholder="Nombre Madre" type="text"></div>

              </div>

              <a  href="javascript:;" onclick="eliminarCargo(this);" class="btn red-mint"><span class="glyphicon glyphicon-trash"></span></a>
            </div>	
          </td>
        </tr>
      </table>
        												<!--hasta -->
        												
        												<!--hasta -->
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn default">Reset</button> 
          <button type="button" data-dismiss="modal" class="btn btn-outline dark">Cerrar</button>
          <button type="submit" class="btn green">Guardar</button>
        </div>
    </form>
  </div>
										<!--fin de nuevo colegio-->
										
										  <!-- full width edit -->
<div id="full-widthEdit" class="modal container fade" tabindex="-1">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Editar Carpeta</h4>
  </div>
  <div class="modal-body">
  <form role="form" class="form-horizontal" id="editServiceByUser" action="javascript:editOneItem('editServiceByUser');" method="POST" >
  <input type="hidden" id="iEditID" name="iEditID" value=""/>
  <input type="hidden" name="sAction" value="editServiceByUser"/>
  <input id="iUserIDE" type="hidden" name="iUserIDE" value=""/>
  <table class="table table-hover table-striped table-bordered">
  <tbody>		
  <!--<tr>
  <td>
  <div class="form-group">
  <div class="col-md-2"><label>Legajo</label><input class="form-control"  id="editLegajo" name="editLegajo" placeholder="Número Legajo" type="text" required></div>
  </div>	 
  </td>
  </tr>-->
  <tr>
  <td>
  <div class="form-group">
  <div class="col-sm-6"><label>Cliente</label>
  <input type="text" name="newUserBusquedaE" id="newUserBusquedaE" class="form-control" >
  </div>
  <table id="usersFoundedE" align="left" style="float:left;display:none;border:solid 1px"></table>
  <div class="col-md-1">
  <label>Cliente</label>
  <input class="form-control"  id="editAbonado" name="editAbonado" disabled type="text" >
  </div>
  </div>
  </td>
  </tr>
  <tr>
  <td>
  <div class="form-group">
  <div class="col-sm-2"><label>Ciudadania</label>
  <select class="form-control" id="editConvenio" name="editConvenio" required >
  <option value=''>Seleccione un ciudadania</option>
  <!--BeginCONVENIOS-->
  <option value='{iIdConvenio}'>{sConvenioA}</option>
  <!--EndCONVENIOS-->
  </select>
  </div>
  <div class="col-sm-2"><label>Estado</label>
  <select class="form-control" id="editEstado" name="editEstado" required >
  <!--BeginESTADOSERVICIOS-->
  <option value='{iIdStatusServices}'>{sStatusServices}</option>
  <!--EndESTADOSERVICIOS-->
  </select>
  </div>
  <div class="col-md-3">
  <label>Email</label>
  <input class="form-control"  id="editEmail" name="editEmail" placeholder="Email" type="text" >
  </div>
  <div class="col-md-3">
  <label>Apellido Carpeta</label>
  <input class="form-control"  id="editDomicilio" name="editDomicilio" placeholder="Apellido Carpeta" type="text" >
  </div>
  </div>	 
  </td>
  </tr>
  <tr>
  <td>
  <div class="form-group"> 

  <div class="col-md-3">
  <label>CNE</label>
  <input class="form-control"  id="editNomenclatura" name="editNomenclatura" placeholder="Certificado" type="text" >
  </div>
  <div class="col-md-3">
  <label>APostilla</label>
  <input class="form-control"  id="editDocumento" name="editDocumento" placeholder="Postilla" type="text" >
  </div>
  <div class="col-md-3">
  <label>Cantidad de Actas</label>
  <input class="form-control"  id="editCBU" name="editCBU" placeholder="Cantidad" type="text" >
  </div>
  </div> 

  </td>
  </tr>
  <!-- 
  <tr>
  <td>
  <a onclick="agregar_EditCargos();" id="sample_editable_1_new"  data-rel="tooltip" class="btn green">Agregar Acta<i class="fa fa-plus"></i></a>
  <a onclick="showDataExportGestion(22,23)" class="btn green" target="_blank">Ver Archivos</a>
  -->
  <!-- <span style="margin-left:40px">Ver Observaciones</span>
  <input type="radio" name="editObservaciones" value = "1" onclick="viewObservacionesData(true,'#editObservaciones');">S&iacute;</input>                
  <input type="radio" name="editObservaciones" value = "0" onclick="viewObservacionesData(false,'#editObservaciones');">No</input>
  style="display:none;"
  -->
  <!--
  </td>
  </tr>
  -->
  </tbody>
  </table>		
  <table class="table table-hover table-striped table-bordered" id="editObservaciones" >
  <tbody>
  <tr>
  <td>
    <div class="box">
      <div class="box-header">
        <h2><i class="fa fa-align-justify"></i><span class="break"></span>Observaciones</h2>
        <div class="box-icon">
          
          <a href="#" class="btn-minimize"><i class="fa fa-chevron-down "></i></a>
          <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="box-content" style="display: none;">
        <div class="form-group">
          <label class="col-sm-12" for="TextArea">Observaciones</label>
          <div class="col-sm-6"><textarea class="form-control" id="editMemo" name="editMemo"></textarea></div>
        </div>    
      </div>    
    </div>        
  </td>
  </tr>
  </tbody>
  </table>
  <!--desde -->

  <ul id="editFolder-nav-tabs" class="nav nav-tabs">
    <li class="active">
      <a id="defaultOpen" data-toggle="tab" href="#" onclick="openPage('cont-tab-')">sGeneration</a>
    </li>
    <li>
      <a onclick="agregar_NewGeneracion();" data-toggle="tab" ><i class="fa fa-plus"></i></a>
    </li>
  </ul>

  <div id="cont-tab-" class="tabcontent">
    <!-- <h3>titulo</h3> -->
    <!--  <span style="margin-left:40px">Ver Observaciones</span>
    <input type="radio" name="editObservaciones" value = "1" onclick="viewObservacionesData(true,'#editObservaciones');">S&iacute;</input>                
    <input type="radio" name="editObservaciones" value = "0" onclick="viewObservacionesData(false,'#editObservaciones');">No</input>
    style="display:none;"
    -->
    <div class="col-sm-2" id="tipo-" style="display:none;" >
      <label>Tipo</label>
      <select class="form-control" id="editServicio-" name="editServicio-" onchange="mostrarDivEdit(this.options[this.selectedIndex].value,this);" >
      <option value=''>Seleccione un tipo</option>
      <option value='1'>Acta Nacimiento</option>
      <option value='2'>Acta Matrimonio</option>
      <option value='3'>Acta Defunción</option>
      </select>
    </div>

    <a onclick="agregar_EditCargos();" id="sample_editable_1_new"  data-rel="tooltip" class="btn green">Tipo <i class="fa fa-file-text"></i><i class="fa fa-plus"></i></a>

    <div id="-box" class="box" style="display:none;">

      <div class="box-header">
        <h2><i class="fa fa-align-justify"></i><span class="break"> </span></h2>
        <div class="box-icon">
          <a href="#" class="btn-minimize"><i class="fa fa-chevron-down"></i></a>
          <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
        </div>
      </div>
      
      <div class="box-content" style="display: none;">
        <a onclick="agregar_EditCargos();" id="sample_editable_1_new"  data-rel="tooltip" class="btn green"><i class="fa fa-file-text"></i><i class="fa fa-plus"></i></a>
        <a onclick="showDataExportGestion(22,23)" class="btn green" target="_blank"><i class="fa fa-archive"></i><i class="fa fa-search-plus"></i></a>
        <table id="editCargos" class="table table-hover table-striped table-bordered editCargos"  >
          <input type="hidden" name="cantEditCargo"  id="cantEditCargo"/>

          <tr id="descripcionEdit" style="display:none">
            <td> 
              <div class="row">                              
                <div class="row-header">                
                  <div class="row-icon">
                    <a  href="javascript:;" onclick="eliminarCargo(this);" class=""><i class="fa fa-trash alert-danger "></i></a>
                  </div>
                </div>

                <div class="row-content">
                  <div id="actaNacimientoEdit-" style="display:none">

                    <div class="col-sm-2"><label>Nombre</label><input class="form-control"  id="editNombreActa-" name="editNombreActa-" placeholder="Nombre" type="text"></div>

                    <div class="col-sm-2"><label>Apellido</label><input class="form-control" id="editApellidoActa-"  name="editApellidoActa-" placeholder="Apellido" type="text"></div>

                    <div class="col-sm-2"><label>Lugar Nacimiento</label><input class="form-control"  id="editLugarNacimientoActa-" name="editLugarNacimientoActa-" placeholder="Lugar Nacimiento" type="text"></div>

                    <div class="col-sm-2"><label>Provincia</label><input class="form-control"  id="editProvinciaActa-" name="editProvinciaActa-" placeholder="Provincia" type="text"></div>


                    <div class="col-sm-2"><label>Pais</label><input class="form-control"  id="editPaisActa-" name="editPaisActa-" placeholder="Pais" type="text"></div>

                    <div class="col-sm-2"><label>Fecha Nacimiento</label><input class="form-control" id="editFechaActa-"  name="editFechaActa-" placeholder="Fecha" type="date"></div>


                    <div class="col-sm-2"><label>Nacionalidad</label><input class="form-control"  id="editNacionalidadActa-" name="editNacionalidadActa-" placeholder="Nacionalidad" type="text"></div>


                    <div class="col-sm-2"><label>DNI</label><input class="form-control" id="editDniActa-"  name="editDniActa-" placeholder="DNI" type="text"></div>


                    <div class="col-sm-2"><label>Apellido Padre</label><input class="form-control"  id="editApePadreActa-" name="editApePadreActa-" placeholder="Apellido Padre" type="text"></div>
                    <div class="col-sm-2"><label>Nombre Padre</label><input class="form-control"  id="editNomPadreActa-" name="editNomPadreActa-" placeholder="Nombre Padre" type="text"></div>

                    <div class="col-sm-2"><label>Apellido Madre</label><input class="form-control" id="editApeMadreActa-"  name="editApeMadreActa-" placeholder="Apellido Madre" type="text"></div>
                    <div class="col-sm-2"><label>Nombre Madre</label><input class="form-control" id="editNomMadreActa-"  name="editNomMadreActa-" placeholder="Nombre Madre" type="text"></div>


                    <div class="col-sm-2"><label>Apellido Abuelo</label><input class="form-control"  id="editApeAbueloActa-" name="editApeAbueloActa-" placeholder="Apellido Abuelo" type="text"></div>
                    <div class="col-sm-2"><label>Nombre Abuelo</label><input class="form-control"  id="editNomAbueloActa-" name="editNomAbueloActa-" placeholder="Nombre Abuelo" type="text"></div>

                    <div class="col-sm-2"><label>Apellido Abuela</label><input class="form-control" id="editApeAbuelaActa-"  name="editApeAbuelaActa-" placeholder="Apellido Abuela" type="text"></div>
                    <div class="col-sm-2"><label>Nombre Abuela</label><input class="form-control" id="editNomAbuelaActa-"  name="editNomAbuelaActa-" placeholder="Nombre Abuela" type="text"></div>
                  </div>

                  <div id="actaMatrimonioEdit-" style="display:none">

                    <div class="col-sm-2"><label>Lugar Matrimonio</label><input class="form-control"  id="editLugarMatri-" name="editLugarMatri-" placeholder="Lugar" type="text"></div>

                    <div class="col-sm-2"><label>Fecha Matrimonio</label><input class="form-control" id="editFechaMatri-"  name="editFechaMatri-" placeholder="Fecha" type="date"></div>

                    <div class="col-sm-2"><label>Pais</label><input class="form-control"  id="editPaisMatri-" name="editPaisMatri-" placeholder="Pais" type="text"></div>

                    <div class="col-sm-2"><label>Apellido</label><input class="form-control" id="editApellidoMatri-"  name="editApellidoMatri-" placeholder="Apellido" type="text"></div>

                    <div class="col-sm-2"><label>Nombre</label><input class="form-control" id="editNombreMatri-"  name="editNombreMatri-" placeholder="Nombre" type="text"></div>

                    <div class="col-sm-2"><label>Lugar Nacimiento</label><input class="form-control"  id="editLugarNacimientoMatri-" name="editLugarNacimientoMatri-" placeholder="Lugar Nacimiento" type="text"></div>

                    <div class="col-sm-2"><label>Fecha Nacimiento</label><input class="form-control" id="editFechaNaciMatri-"  name="editFechaNaciMatri-" placeholder="Fecha" type="date"></div>

                    <div class="col-sm-2"><label>Edad</label><input class="form-control"  id="editEdadMatri-" name="editEdadMatri-" placeholder="Edad" type="text"></div>

                    <div class="col-sm-2"><label>DNI</label><input class="form-control" id="editDniMatri-"  name="editDniMatri-" placeholder="DNI" type="text"></div>

                    <div class="col-sm-2"><label>Nacionalidad</label><input class="form-control"  id="editNacionalidadMatri-" name="editNacionalidadMatri-" placeholder="Nacionalidad" type="text"></div>

                    <div class="col-sm-2"><label>Apellido Padre</label><input class="form-control"  id="editApePadreEsposoMatri-" name="editApePadreEsposoMatri-" placeholder="Apellido Padre" type="text"></div>
                    <div class="col-sm-2"><label>Nombre Padre</label><input class="form-control"  id="editNomPadreEsposoMatri-" name="editNomPadreEsposoMatri-" placeholder="Nombre Padre" type="text"></div>

                    <div class="col-sm-2"><label>Apellido Madre</label><input class="form-control" id="editApeMadreEsposoMatri-"  name="editApeMadreEsposoMatri-" placeholder="Apellido Madre" type="text"></div>
                    <div class="col-sm-2"><label>Nombre Madre</label><input class="form-control" id="editNomMadreEsposoMatri-"  name="editNomMadreEsposoMatri-" placeholder="Nombre Madre" type="text"></div>

                    <div class="col-sm-2"><label>Apellido</label><input class="form-control" id="editApellidoEsMatri-"  name="editApellidoEsMatri-" placeholder="Apellido" type="text"></div>
                    <div class="col-sm-2"><label>Nombre</label><input class="form-control" id="editNombreEsMatri-"  name="editNombreEsMatri-" placeholder="Nombre" type="text"></div>

                    <div class="col-sm-2"><label>Lugar Nacimiento</label><input class="form-control"  id="editLugarNacimientoEsMatri-" name="editLugarNacimientoEsMatri-" placeholder="Lugar Nacimiento" type="text"></div>

                    <div class="col-sm-2"><label>Fecha Nacimiento</label><input class="form-control" id="editFechaNaciEsMatri-"  name="editFechaNaciEsMatri-" placeholder="Fecha" type="date"></div>

                    <div class="col-sm-2"><label>Edad</label><input class="form-control"  id="editEdadEsMatri-" name="editEdadEsMatri-" placeholder="Edad" type="text"></div>

                    <div class="col-sm-2"><label>DNI</label><input class="form-control" id="editDniEsMatri-"  name="editDniEsMatri-" placeholder="DNI" type="text"></div>

                    <div class="col-sm-2"><label>Nacionalidad</label><input class="form-control"  id="editNacionalidadEsMatri-" name="editNacionalidadEsMatri-" placeholder="Nacionalidad" type="text"></div>

                    <div class="col-sm-2"><label>Apellido Padre</label><input class="form-control"  id="editApePadreEsposoEsMatri-" name="editApePadreEsposoEsMatri-" placeholder="Apellido Padre" type="text"></div>
                    <div class="col-sm-2"><label>Nombre Padre</label><input class="form-control"  id="editNomPadreEsposoEsMatri-" name="editNomPadreEsposoEsMatri-" placeholder="Nombre Padre" type="text"></div>
                    <div class="col-sm-2"><label>Apellido Madre</label><input class="form-control" id="editApeMadreEsposoEsMatri-"  name="editApeMadreEsposoEsMatri-" placeholder="Apellido Madre" type="text"></div>
                    <div class="col-sm-2"><label>Nombre Madre</label><input class="form-control" id="editNomMadreEsposoEsMatri-"  name="editNomMadreEsposoEsMatri-" placeholder="Nombre Madre" type="text"></div>
                  </div>

                  <div id="actaDefuncionEdit-" style="display:none">

                    <div class="col-sm-2"><label>Nombre</label><input class="form-control"  id="editNombreDefu-" name="editNombreDefu-" placeholder="Nombre" type="text"></div>

                    <div class="col-sm-2"><label>Apellido</label><input class="form-control" id="editApellidoDefu-"  name="editApellidoDefu-" placeholder="Apellido" type="text"></div>

                    <div class="col-sm-2"><label>Lugar</label><input class="form-control"  id="editLugarDefuDefu-" name="editLugarDefuDefu-" placeholder="Lugar" type="text"></div>

                    <div class="col-sm-2"><label>Fecha</label><input class="form-control" id="editFechaDefu-"  name="editFechaDefu-" placeholder="Fecha" type="date"></div>

                    <div class="col-sm-2"><label>Pais</label><input class="form-control"  id="editPaisDefu-" name="editPaisDefu-" placeholder="Pais" type="text"></div>

                    <div class="col-sm-2" id="tipo-"><label>Estado Civil</label>
                    <select class="form-control" id="editEstadoDefu-" name="editEstadoDefu-">
                    <option value=''>Seleccione un tipo</option>
                    <option value='1'>Soltero</option>
                    <option value='2'>Casado</option>
                    <option value='3'>Divorciado</option>
                    <option value='4'>Viudo</option>
                    <option value='5'>No Costa</option>
                    </select>
                    </div>

                    <div class="col-sm-2"><label>Conjugue</label><input class="form-control"  id="editNombreApeDefu-" name="editNombreApeDefu-" placeholder="Nombre y Apellido" type="text"></div>

                    <div class="col-sm-2"><label>Fecha Nacimiento</label><input class="form-control" id="editFechaNaciDefu-"  name="editFechaNaciDefu-" placeholder="Fecha" type="date"></div>

                    <div class="col-sm-2"><label>Lugar Nacimiento</label><input class="form-control"  id="editLugarNacimientoDefu-" name="editLugarNacimientoDefu-" placeholder="Lugar Nacimiento" type="text"></div>

                    <div class="col-sm-2"><label>DNI</label><input class="form-control" id="editDniDefu-"  name="editDniDefu-" placeholder="DNI" type="text"></div>

                    <div class="col-sm-2"><label>Nacionalidad</label><input class="form-control"  id="editNacionalidadDefu-" name="editNacionalidadDefu-" placeholder="Nacionalidad" type="text"></div>

                    <div class="col-sm-2"><label>Profesión</label><input class="form-control"  id="editProfeDefu-" name="editProfeDefu-" placeholder="Profesión" type="text"></div>

                    <div class="col-sm-2"><label>Apellido Padre</label><input class="form-control"  id="editApePadreDefu-" name="editApePadreDefu-" placeholder="Apellido Padre" type="text"></div>
                    <div class="col-sm-2"><label>Nombre Padre</label><input class="form-control"  id="editNomPadreDefu-" name="editNomPadreDefu-" placeholder="Nombre Padre" type="text"></div>

                    <div class="col-sm-2"><label>Apellido Madre</label><input class="form-control" id="editApeMadreDefu-"  name="editApeMadreDefu-" placeholder="Apellido Madre" type="text"></div>
                    <div class="col-sm-2"><label>Nombre Madre</label><input class="form-control" id="editNomMadreDefu-"  name="editNomMadreDefu-" placeholder="Nombre Madre" type="text"></div>
                  </div>
                </div>
                
              </div>     
            </td>
          </tr>
          
        </table>  
      </div>

    </div>
      
  </div>

  <!--hasta -->

  <!--ver conceptos-->
  <div id="full-widthShowEditConceptos" class="modal container fade" tabindex="-1" >
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
  <h4 class="modal-title">Conceptos Asociados</h4>
  </div>
  <div class="modal-body">
  <span class="input-group-addon">Buscar</span>
  <input id="filtrarEditConcept" type="text" class="form-control" placeholder="Ingresa el concepto o valor a buscar...">

  <table class="table table-hover"  id="origenEditConcept" data-height="300">
  <thead>
  <tr>
  <th>ID</th>
  <th>Concepto</th>
  <th>Cantidad</th>
  <th>Valor</th>
  <th>Liquida</th> 
  </tr>
  </thead>
  <tbody class="buscarEditConcept">
  </tbody>
  </table>
  </div>   
  </div>	
  </div>
  <div class="modal-footer">
  <button type="reset" class="btn default">Reset</button>
  <button type="button" data-dismiss="modal" class="btn btn-outline dark">Cerrar</button>
  <button type="submit" class="btn green">Guardar</button>
  </div>
  </form>
</div>
</div>
</div>
  <!-- END EXAMPLE TABLE PORTLET-->
  
  </div>
  </div>
                          
              <!-- END PAGE BASE CONTENT -->
            </div>
        </div>
    </div>
    <!-- END SIDEBAR CONTENT LAYOUT -->
</div>